<!DOCTYPE html>
<html>

<head>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Roboto:wght@100&display=swap"
		rel="stylesheet">

	<script type="text/javascript" src="https://livejs.com/live.js"></script>
	<link rel="stylesheet" href="stylesAboutUs.css">
	<script>
		// When the user scrolls down 50px from the top of the document, resize the header's font size
		window.onscroll = () => {
			if (document.documentElement.scrollTop < 300) {
				document.getElementById("nav").style = "";
			} else {
				document.getElementById("nav").style = "background-color: rgb(178, 113, 2, 0.84);";
			}


		};

		function isInViewport(element) {
			const rect = element.getBoundingClientRect();
			return (
				rect.top >= 0 &&
				rect.left >= 0 &&
				rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
				rect.right <= (window.innerWidth || document.documentElement.clientWidth)
			);
		}



	</script>
</head>

<body>
	<!--NAVBAR-->
	<nav id="nav" style="">
		<img src="Immages/Logo.png">
		<div class="navbarlinks">
			<a href="/">Home</a>
			<a href="/contactus">Contact Us</a>
			<a href="#">Past Activities</a>
			<a href="#">Donations</a>
			<!--<a href="#">Documentation</a>-->
		</div>
	</nav>

	<!--MAIN PAGE-->
	<div class="mainpage">
		<div class="mainpageoverlay"></div>
		<!--
			<div class="maintoptext">Soan Air Land Technologies</div>
			<div class="maintext"><img src="Immages/LogoText.png" width="100%"></div>
		-->
		<div class="maintext">Aviation Industry</div>
	</div>

	<!--ABOUT US-->
	<div class="fadee aboutus">
		<div class="aboutustext">
			<div class="aboutustextheading">More Information</div>
			<div class="aboutustextbody" style="line-height: 4ch;">
				MI-17 helicopter, beach 400 XP aircraft, engine and major assemblies main rotor / tail rotor components
				and its overhauling, cockpit voice recorder (CVR), flight data recorder (FDR), underwater locator beacon
				(ULB) etc. and lubricants. Market evaluation of helicopters / aircrafts for optimized insurance value
				including both desktop evaluation and detailed component wise evaluation.
			</div>
		</div>
		<div class="aboutusimmage" style="background-image: url('Immages/aviation.jpg');"></div>
	</div>

	<!--Text Boxes We Supply-->
	<div class="boxes">
		Products We Supply

		<div class="profile">
			<div class='textbox'>
				<div class='profiletext'>
					<h1>
						Engine Assemblies
					</h1>
				</div>
			</div>
			<div class='textbox'>
				<div class='profiletext'>
					<h1>
						Main Rotor Hub with Blades
					</h1>
				</div>
			</div>
			<div class='textbox'>
				<div class='profiletext'>
					<h1>
						Tail Rotor Hub with Blades
					</h1>
				</div>
			</div>
			<div class='textbox'>
				<div class='profiletext'>
					<h1>
						Fuel Pump and Filters
					</h1>
				</div>
			</div>
			<div class='textbox'>
				<div class='profiletext'>
					<h1>
						Ground Power Unit
					</h1>
				</div>
			</div>
			<div class='textbox'>
				<div class='profiletext'>
					<h1>
						Hydraulic Rig
					</h1>
				</div>
			</div>
			<div class='textbox'>
				<div class='profiletext'>
					<h1>
						Grease Atlanta
					</h1>
				</div>
			</div>
			<div class='textbox'>
				<div class='profiletext'>
					<h1>
						Grease Ciatim
					</h1>
				</div>
			</div>
			<div class='textbox'>
				<div class='profiletext'>
					<h1>
						Turbinycoil 98
					</h1>
				</div>
			</div>
			<div class='textbox'>
				<div class='profiletext'>
					<h1>
						Global Positioning System
					</h1>
				</div>
			</div>
			<div class='textbox'>
				<div class='profiletext'>
					<h1>
						IR Head up Display
					</h1>
				</div>
			</div>
			<div class='textbox'>
				<div class='profiletext'>
					<h1>
						Underwater Locating Beaco
					</h1>
				</div>
			</div>

		</div>
	</div>

	<!--Map-->
	<div class="map">
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3326.0253789859617!2d73.10963531520134!3d33.52672578075213!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfe7094412658721b!2zMzPCsDMxJzM2LjIiTiA3M8KwMDYnNDIuNiJF!5e0!3m2!1sen!2s!4v1655663957197!5m2!1sen!2s"
			width=100% height=100% style="border:0;" allowfullscreen="" loading="lazy"
			referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>


	<!--Contact Us-->
	<div class="donate">
		<div>
			<a href="mailto: info@soanairland.com"><button class="button-donate">Email Us</button></a>
		</div>
	</div>


	<!--FOOTER-->
	<div class="footer">
		org@mail.com
	</div>

</body>

</html>