<!DOCTYPE html>
<html>

<head>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Roboto:wght@100&display=swap"
		rel="stylesheet">

	<script type="text/javascript" src="https://livejs.com/live.js"></script>
	<link rel="stylesheet" href="stylesAboutUs.css">
	<script src="navscript.js">
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
		$(document).ready(function () {
			// Add smooth scrolling to all links
			$("a").on('click', function (event) {

				// Make sure this.hash has a value before overriding default behavior
				if (this.hash !== "") {
					// Prevent default anchor click behavior
					event.preventDefault();

					// Store hash
					var hash = this.hash;

					// Using jQuery's animate() method to add smooth page scroll
					// The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
					$('html, body').animate({
						scrollTop: $(hash).offset().top
					}, 800, function () {

						// Add hash (#) to URL when done scrolling (default click behavior)
						window.location.hash = hash;
					});
				} // End if
			});
		});
	</script>
</head>

<body>
	<!--NAVBAR-->
	<nav id="nav" style="">
		<img id="logo" class="logo" src="Immages/Logo.webp">
		<div class="navbarlinks">
			<a href="/">Home</a>
			<a href="contactus">Contact Us</a>
			<a onclick="window.location.href='/#clients' ">Clients</a>
			<a href="mailto: info@soanairland.com"> <img class=" emaillogo" src="Immages/emailicon.webp"></a>
			<!--<a href="#">Documentation</a>-->
		</div>
	</nav>

	<!--MAIN PAGE-->
	<div class="mainpage">
		<div class="mainpageoverlay"></div>
		<!--
			<div class="maintoptext">Soan Air Land Technologies</div>
			<div class="maintext"><img src="Immages/LogoText.webp" width="100%"></div>
		-->
		<div class="maintext">Aviation Industry</div>
	</div>

	<!--ABOUT US-->
	<div class="fadee aboutus">
		<div class="aboutustext">
			<div class="aboutustextheading">More Information</div>
			<div class="aboutustextbody" style="line-height: 3ch;">
				MI-17 helicopter, beach 400 XP aircraft, engine and major assemblies main rotor / tail rotor components
				and its overhauling, cockpit voice recorder (CVR), flight data recorder (FDR), underwater locator beacon
				(ULB) etc. and lubricants. Market evaluation of helicopters / aircrafts for optimized insurance value
				including both desktop evaluation and detailed component wise evaluation.
			</div>
		</div>
		<div class="aboutusimmage" style="background-image: url('Immages/aviation.webp');"></div>
	</div>

	<!--Text Boxes We Supply-->
	<div class="boxes">
		Products We Supply

		<div class="profile">
			<div class='textbox'>
				<div class='profiletext'>
					<h1>
						Engine Assemblies
					</h1>
				</div>
			</div>
			<div class='textbox'>
				<div class='profiletext'>
					<h1>
						Main Rotor Hub with Blades
					</h1>
				</div>
			</div>
			<div class='textbox'>
				<div class='profiletext'>
					<h1>
						Tail Rotor Hub with Blades
					</h1>
				</div>
			</div>
			<div class='textbox'>
				<div class='profiletext'>
					<h1>
						Fuel Pump and Filters
					</h1>
				</div>
			</div>
			<div class='textbox'>
				<div class='profiletext'>
					<h1>
						Ground Power Unit
					</h1>
				</div>
			</div>
			<div class='textbox'>
				<div class='profiletext'>
					<h1>
						Hydraulic Rig
					</h1>
				</div>
			</div>
			<div class='textbox'>
				<div class='profiletext'>
					<h1>
						Grease Atlanta
					</h1>
				</div>
			</div>
			<div class='textbox'>
				<div class='profiletext'>
					<h1>
						Grease Ciatim
					</h1>
				</div>
			</div>
			<div class='textbox'>
				<div class='profiletext'>
					<h1>
						Turbinycoil 98
					</h1>
				</div>
			</div>
			<div class='textbox'>
				<div class='profiletext'>
					<h1>
						Global Positioning System
					</h1>
				</div>
			</div>
			<div class='textbox'>
				<div class='profiletext'>
					<h1>
						IR Head up Display
					</h1>
				</div>
			</div>
			<div class='textbox'>
				<div class='profiletext'>
					<h1>
						Underwater Locating Beaco
					</h1>
				</div>
			</div>

		</div>
	</div>

	<!--Map-->
	<div class="map">
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3326.0253789859617!2d73.10963531520134!3d33.52672578075213!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfe7094412658721b!2zMzPCsDMxJzM2LjIiTiA3M8KwMDYnNDIuNiJF!5e0!3m2!1sen!2s!4v1655663957197!5m2!1sen!2s"
			width=100% height=100% style="border:0;" allowfullscreen="" loading="lazy"
			referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>


	<!--Contact Us-->
	<div class="donate">
		<div>
			<a href="mailto: info@soanairland.com"><button class="button-donate">Email Us</button></a>
		</div>
	</div>


	<!--FOOTER-->
	<div class="footer">
		info@soanairland.com
	</div>

</body>

</html>