<!DOCTYPE html>
<html>

<head>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Roboto:wght@100&display=swap"
		rel="stylesheet">

	<script type="text/javascript" src="https://livejs.com/live.js"></script>
	<link rel="stylesheet" href="styles.css">
	<script src="navscript.js">
	</script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
		$(document).ready(function () {
			// Add smooth scrolling to all links
			$("a").on('click', function (event) {

				// Make sure this.hash has a value before overriding default behavior
				if (this.hash !== "") {
					// Prevent default anchor click behavior
					event.preventDefault();

					// Store hash
					var hash = this.hash;

					// Using jQuery's animate() method to add smooth page scroll
					// The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
					$('html, body').animate({
						scrollTop: $(hash).offset().top
					}, 800, function () {

						// Add hash (#) to URL when done scrolling (default click behavior)
						window.location.hash = hash;
					});
				} // End if
			});
		});
	</script>
</head>

<body>
	<!--NAVBAR-->
	<nav id="nav" style="">
		<img id="logo" class="logo" src="Immages/Logo.webp">
		<div class="navbarlinks">
			<a href="#home">Home</a>
			<a href="/contactus">Contact Us</a>
			<a href="#clients">Clients</a>
			<a href="mailto: info@soanairland.com"> <img class=" emaillogo" src="Immages/emailicon.webp"></a>
			<!--<a href="#">Documentation</a>-->
		</div>
	</nav>

	<!--MAIN PAGE-->
	<div class="mainpage" id="home">
		<div class="mainpageoverlay"></div>
		<!--
		<div class="maintoptext">Soan Air Land Technologies</div>
		<div class="maintext"><img src="Immages/LogoText.webp" width="100%"></div>
		-->
		<div class="maintext"><img src="Immages/LogoText.webp" width="100%"></div>
	</div>

	<!--ABOUT US-->
	<div class="fadee aboutus">
		<div class="aboutustext">
			<div class="aboutustextheading">About Us</div>
			<div class="aboutustextbody">Soan Air Land Technologies (SALT) is a platform, managed by a team of
				professionals and business management experts. Specialisations include technical and technological
				consultancy, engineering solutions, aircraft assessments, aircraft maintenance services including
				overhauling, procurement of specialised material and components as well as business management
				consultancy.</div>
		</div>
		<div class="aboutusimmage"></div>
	</div>

	<!--Pretty Immage-->
	<div class="donate">
	</div>

	<!--Text Boxes Services-->
	<div class="boxes">
		Our Services

		<div class="profile">
			<div class="textbox">

				<div class="profiletext" onclick="window.location.href='aviation'">
					<h1>Aviation</h1>
				</div>
			</div>

			<div class="textbox" onclick="window.location.href='space'">
				<div class="profiletext">
					<h1>Space</h1>
				</div>
			</div>

			<div class="textbox" onclick="window.location.href='materials'">
				<div class="profiletext">
					<h1>Specialized Materials / Chemicals</h1>
				</div>
				<!--
				<div class="subtext">
					<h2>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores commodi vero mollitia dolor a
						libero! In laboriosam magni sapiente quae, dicta vel mollitia nisi dolorem quam minus, modi ab
						obcaecati.
					</h2>
				</div>
				-->
			</div>

			<div class="textbox" onclick="window.location.href='defense'">
				<div class="profiletext">
					<h1>Defense</h1>
				</div>
			</div>

			<div class="textbox" onclick="window.location.href='communication'">
				<div class="profiletext">
					<h1>Communication & IT</h1>
				</div>
			</div>

			<div class="textbox" onclick="window.location.href='universities'">
				<div class="profiletext">
					<h1>Universities / R&D Institutions</h1>
				</div>
			</div>

		</div>
	</div>

	<!--Logo-->
	<div class="fadee aboutus" id="clients">
		<div class="logotext">
			<div class="logotextheading">Our Clients</div>
			<div class="logotextbody">Soan Air Land Technologies (SALT) has collaborated
				with several large scale
				organizations, from government to private sector, and has shown immpeccable past performance! All our
				clients have been fully satisfied with our services, and have left us with great reviews! </div>
		</div>
		<div class="aboutusimmagecontainer" style="background-image: url('Immages/LogosBk.webp');">
			<div class="aboutusimmages">
				<img src="/Immages/ACES.webp">
			</div>

			<div class="aboutusimmages">
				<img src="/Immages/Areoworld.webp">

			</div>

			<div class="aboutusimmages">
				<img src="/Immages/Gov of Punjab.webp">

			</div>

			<div class="aboutusimmages">
				<img src="/Immages/suparco_logo.webp">

			</div>
		</div>
	</div>

	<!--Text Boxes We Supply-->
	<div class="boxes">
		Products We Supply

		<div class="profile">
			<div class='textbox' onclick='window.location.href=" aviation"'>
				<div class='profiletext'>
					<h1>
						Engine Assemblies
					</h1>
				</div>
			</div>
			<div class='textbox' onclick='window.location.href=" aviation"'>
				<div class='profiletext'>
					<h1>
						Main Rotor Hub with Blades
					</h1>
				</div>
			</div>
			<div class='textbox' onclick='window.location.href=" aviation"'>
				<div class='profiletext'>
					<h1>
						Tail Rotor Hub with Blades
					</h1>
				</div>
			</div>
			<div class='textbox' onclick='window.location.href=" aviation"'>
				<div class='profiletext'>
					<h1>
						Fuel Pump and Filters
					</h1>
				</div>
			</div>
			<div class='textbox' onclick='window.location.href=" aviation"'>
				<div class='profiletext'>
					<h1>
						Ground Power Unit
					</h1>
				</div>
			</div>
			<div class='textbox' onclick='window.location.href=" aviation"'>
				<div class='profiletext'>
					<h1>
						Hydraulic Rig
					</h1>
				</div>
			</div>
			<div class='textbox' onclick='window.location.href=" aviation"'>
				<div class='profiletext'>
					<h1>
						Grease Atlanta
					</h1>
				</div>
			</div>
			<div class='textbox' onclick='window.location.href=" aviation"'>
				<div class='profiletext'>
					<h1>
						Grease Ciatim
					</h1>
				</div>
			</div>
			<div class='textbox' onclick='window.location.href=" aviation"'>
				<div class='profiletext'>
					<h1>
						Turbinycoil 98
					</h1>
				</div>
			</div>
			<div class='textbox' onclick='window.location.href=" aviation"'>
				<div class='profiletext'>
					<h1>
						Global Positioning System
					</h1>
				</div>
			</div>
			<div class='textbox' onclick='window.location.href=" aviation"'>
				<div class='profiletext'>
					<h1>
						IR Head up Display
					</h1>
				</div>
			</div>
			<div class='textbox' onclick='window.location.href=" aviation"'>
				<div class='profiletext'>
					<h1>
						Underwater Locating Beacon
					</h1>
				</div>
			</div>
			<div class='textbox' onclick='window.location.href=" space"'>
				<div class='profiletext'>
					<h1>
						RF Transceivers
					</h1>
				</div>
			</div>
			<div class='textbox' onclick='window.location.href=" space"'>
				<div class='profiletext'>
					<h1>
						Digital Encoders
					</h1>
				</div>
			</div>
			<div class='textbox' onclick='window.location.href=" space"'>
				<div class='profiletext'>
					<h1>
						Antennas / Filters
					</h1>
				</div>
			</div>
			<div class='textbox' onclick='window.location.href=" space"'>
				<div class='profiletext'>
					<h1>
						Fiber Optic Gyros / Star Sensor
					</h1>
				</div>
			</div>
			<div class='textbox' onclick='window.location.href=" space"'>
				<div class='profiletext'>
					<h1>
						GNSS
					</h1>
				</div>
			</div>
			<div class='textbox' onclick='window.location.href=" materials"'>
				<div class='profiletext'>
					<h1>
						Quartz Fiber
					</h1>
				</div>
			</div>
			<div class='textbox' onclick='window.location.href=" materials"'>
				<div class='profiletext'>
					<h1>
						D-Glass Fiber
					</h1>
				</div>
			</div>
			<div class='textbox' onclick='window.location.href=" materials"'>
				<div class='profiletext'>
					<h1>
						Quartz Wool
					</h1>
				</div>
			</div>
			<div class='textbox' onclick='window.location.href=" materials"'>
				<div class='profiletext'>
					<h1>
						Chopped Strands
					</h1>
				</div>
			</div>
			<div class='textbox' onclick='window.location.href=" materials"'>
				<div class='profiletext'>
					<h1>
						Raisins of Different Variety
					</h1>
				</div>
			</div>
			<div class='textbox' onclick='window.location.href=" defense"'>
				<div class='profiletext'>
					<h1>
						Weapons and Equipment
					</h1>
				</div>
			</div>
			<div class='textbox' onclick='window.location.href=" defense"'>
				<div class='profiletext'>
					<h1>
						Real Time Real Worlds Training Simulators
					</h1>
				</div>
			</div>
			<div class='textbox' onclick='window.location.href=" defense"'>
				<div class='profiletext'>
					<h1>
						Perimeter Security
					</h1>
				</div>
			</div>
			<div class='textbox' onclick='window.location.href=" defense"'>
				<div class='profiletext'>
					<h1>
						Border Surveillance
					</h1>
				</div>
			</div>
			<div class='textbox' onclick='window.location.href=" communication"'>
				<div class='profiletext'>
					<h1>
						UAVs
					</h1>
				</div>
			</div>
			<div class='textbox' onclick='window.location.href=" communication"'>
				<div class='profiletext'>
					<h1>
						Ground Communication
					</h1>
				</div>
			</div>
			<div class='textbox' onclick='window.location.href=" communication"'>
				<div class='profiletext'>
					<h1>
						Microwave Antennas
					</h1>
				</div>
			</div>
			<div class='textbox' onclick='window.location.href=" universities"'>
				<div class='profiletext'>
					<h1>
						Oscilloscopes
					</h1>
				</div>
			</div>
			<div class='textbox' onclick='window.location.href=" universities"'>
				<div class='profiletext'>
					<h1>
						Vector Network Analysers (VNAs)
					</h1>
				</div>
			</div>
			<div class='textbox' onclick='window.location.href=" universities"'>
				<div class='profiletext'>
					<h1>
						Digital meters
					</h1>
				</div>
			</div>
			<div class='textbox' onclick='window.location.href=" universities"'>
				<div class='profiletext'>
					<h1>
						DSP / Communication kits
					</h1>
				</div>
			</div>
			<div class='textbox' onclick='window.location.href=" universities"'>
				<div class='profiletext'>
					<h1>
						Radar systems
					</h1>
				</div>
			</div>
			<div class='textbox' onclick='window.location.href=" universities"'>
				<div class='profiletext'>
					<h1>
						Mechanical Engineering Labs
					</h1>
				</div>
			</div>
			<div class='textbox' onclick='window.location.href=" universities"'>
				<div class='profiletext'>
					<h1>
						Material Science Engineering Labs
					</h1>
				</div>
			</div>
			<div class='textbox' onclick='window.location.href=" universities"'>
				<div class='profiletext'>
					<h1>
						Avionics & Electrical Engineering Labs
					</h1>
				</div>
			</div>


		</div>
	</div>

	<!--Contact Us-->
	<div class="donate">
		<div>
			<button class="button-donate" onclick="window.location.href=" contactus'">Contact Us</button>
		</div>
	</div>

	<!--FOOTER-->
	<div class="footer">
		info@soanairland.com
	</div>
</body>

</html>