/* MISC */

html body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.spacer {
  height: 5vh;
  width: 100%;
  background-color: white;
}

.fadee {
}

@keyframes topdownfadeanim {
  0% {
    color: #00000000;
  }
  100% {
    color: initial;
  }
}

.to-fade-in {
  opacity: 0;
}
.to-fade-in.fade-in {
  -webkit-animation: fade-in 3s forwards;
  animation: fade-in 3s forwards;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* NAVBAR */

nav {
  position: fixed;
  z-index: 1;
  padding: 1vmin 1vmin 1vmin 1vmin;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.4s ease-in-out;
}

nav a {
  text-decoration: none;
  text-align: center;
  font-size: 2vmin;
  color: white;

  padding: 3vh 0vh 3vh 0vh;
  padding-right: 1.5vw;
  padding-left: 1.5vw;

  border-bottom: 2px transparent solid;
  transition: 0.25s;
}

nav a:hover {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 0.7vh #d3a630 solid;
}

nav img {
  height: 15vh;
  float: left;
  transition: 0.25s;
}

.navbarlinks {
  float: right;
  margin-right: 4vw;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAIN PAGE */

.mainpage {
  background-image: url("Immages/headimg.jpg");
  position: relative;
  height: 100vh;
  background-position: center;
  background-size: cover;
  /*filter: blur(4px);*/
  background-attachment: fixed;
}

.mainpageoverlay {
  background: #01011896;
  background: #5148285e;
  background: #739dad4f;
  height: 100vh;
}

.maintext {
  color: #ffffff;
  font-weight: bold;
  font-size: 10vmin;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
}

.maintoptext {
  color: #cc8430;
  font-weight: bold;
  font-size: 4vmin;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 20px;
  text-align: center;
}

/* ABOUT US */

.aboutus {
  display: grid;
  justify-content: end;
  grid-template-columns: repeat(auto-fit, minmax(50vh, 1fr));
  grid-row: auto;
}

.aboutustext {
  position: relative;
  top: 9%;
  padding: 5vmin;
  padding-left: 10vmin;
  padding-bottom: 10vmin;
}

.aboutustextheading {
  text-align: left;
  font-size: 5vmin;
  /*    animation: topdownfadeanim 3s; */
}

.aboutustextbody {
  text-align: justify;
  margin-top: 3vmin;
  font-size: 3vmin;
}

.aboutusimmage {
  background-image: url("Immages/headimg.jpg");
  min-height: 60vh;
  position: relative;
  background-position: center;
  background-size: cover;
}

/*LOGOS*/
.aboutusimmagecontainer {
  position: relative;

  background-image: url("Immages/services.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.aboutusimmages {
  margin: 40px;
  padding: 10px;
  border: #9091c3 2px solid;
  border-radius: 2%;
  background-color: #9da8a957;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.aboutusimmages:hover {
  transform: scale(1.2, 1.2);
  margin: 40px;
  background-color: #9da8a97e;
}

.aboutusimmages img {
  width: 15vw;
}

.logotext {
  position: relative;
  top: 9%;
  padding: 5vmin;
  padding-left: 10vmin;
  padding-bottom: 10vmin;
}

.logotextheading {
  text-align: left;
  font-size: 5vmin;
  /*    animation: topdownfadeanim 3s; */
  text-align: right;
}

.logotextbody {
  text-align: justify;
  margin-top: 3vmin;
  font-size: 3vmin;
  text-align: right;
  line-height: 3ch;
}
/*Donate*/

.donate {
  background-image: url("Immages/donations.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  object-fit: contain;
  height: 50vh;
}

.donatebk {
  height: 50vh;
  width: 80vw;
  background-color: rgba(0, 0, 0, 0.507);
  border: 3px solid rgba(0, 0, 0, 0.582);
  border-radius: 23px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.button-donate {
  background-color: #00000091; /* Green */
  border: 1.5px solid #cc8430;
  color: rgb(255, 255, 255);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 30vw;
  min-height: 5vh;
  font-size: 3vmin;
  border-radius: 20px;
}

.button-donate:hover {
  background-color: #cc8430;
  color: rgb(255, 255, 255);
  transform: scale(1.2, 1.2);
}

/*Profile Immages*/
.management {
  font-size: 6vmin;
  color: white;
  padding-top: 3vh;

  background-image: url("Immages/Management\ bk.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.box {
  margin: 40px;
  max-width: 50%;
  padding: 10px;
  border: #9091c3 2px solid;
  border-radius: 2%;
}

.description {
  margin: 40px;
  max-width: 60%;
  padding: 10px;
  border: #9091c3 2px solid;
  border-radius: 2%;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  object-fit: contain;
}

.profileimmage {
  width: 25vw;

  position: relative;
  background-repeat: no-repeat;
  background-size: contain;

  border-bottom-width: 40px;

  border: #39394c 2px solid;
}

.profiletext {
  text-decoration: none;
  text-align: center;
  font-size: 2vmin;
  color: #ebf0f9;
}

.subtext {
  text-decoration: none;
  text-align: center;
  font-size: 2vmin;
  color: #ebf0f9;
}

/*Map*/
.map {
  height: 50vh;
  width: 100%;
}

/*Text Boxes*/
.boxes {
  font-size: 6vmin;
  color: white;
  padding-top: 3vh;

  background-image: url("Immages/services.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.textbox {
  margin: 40px;
  max-width: 25%;
  padding: 10px;
  border: #9091c3 2px solid;
  border-radius: 2%;
  background-color: #9da8a957;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  min-width: 24vw;
}

.textbox:hover {
  transform: scale(1.2, 1.2);
  margin: 40px;
  max-width: 25%;
  padding: 10px;
  border: #9091c3 5px solid;
  border-radius: 2%;
  background-color: #9da8a97e;
}

.textbox:after {
  content: "»";
  position: absolute;
  bottom: -8%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);

  opacity: 0;
  transition: 0.35s cubic-bezier(1, 0, 0, 1);
}
.textbox:hover::after {
  bottom: -11%;
  opacity: 1;
}

.textboxselected {
  transform: scale(1.8, 1.8) !important;
}
/*
* {
  outline: 1px solid #f00 !important;
}
*/

/*Footer*/

.footer {
  background-color: rgb(25, 25, 25);
  color: white;
  height: 6vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1105px) {
  .button-donate {
    font-size: 6vmin;
  }

  .donate {
    height: 80vh;
  }

  nav a {
    font-size: 3vmin;
  }

  .profile {
    flex-direction: column;
  }

  .aboutustext {
    position: relative;
    top: 7%;
    padding: 5vmin;
    padding-left: 10vmin;
    padding-right: 5vmin;
    margin-bottom: 2vmin;
    margin-left: 2vmin;
    padding-bottom: 15vmin;
  }

  .box {
    max-width: 95%;
  }

  .textbox {
    min-width: 80%;
    max-width: 95%;
  }

  .profileimmage {
    width: 60vw;
  }

  .button-donate {
    width: 70vw;
  }

  .maintext {
    font-size: 22vmin;
  }

  .maintoptext {
    top: 70%;
    font-size: 6vmin;
  }

  .profiletext {
    font-size: 3vmin;
  }

  .management {
    font-size: 14vmin;
  }

  .aboutustextheading {
    font-size: 7vmin;
  }

  .aboutustextbody {
    font-size: 4vmin;
  }

  .textbox {
    transition: 100000s; /*I have literally no idea on how to stop the animation so ill just make it longer*/
  }

  .aboutusimmages {
    transition: 100000s; /*I have literally no idea on how to stop the animation so ill just make it longer*/
  }

  .aboutusimmages img {
    width: 75vw;
  }

  .logotextheading {
    text-align: center;
  }

  .logotextbody {
    text-align: center;
  }

  .logotext {
    padding-left: 5vmin;
    padding-bottom: 15vmin;
  }
}
